*{
    font-family: 'Nintendo DS BIOS';
}

.sketch-screen{
    display:flex;
    height:50%;
    margin: auto;
    width: 95%;
    border: 1px solid rgb(81, 182, 236);
    border-radius:8px;
    background-color: white;
    margin-top:10px;
}

.screen-lines{
    position:relative;
    height: 4px;
    padding: 4% 0px;
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(125, 202, 243, 0.468);
    width: 100%;
}

.screenname{
    margin: 0;
    padding: 1.5% 17px;
    border-right: 2px solid rgba(125, 202, 243, 0.468);
    border-bottom: 2px solid rgba(125, 202, 243, 0.468);
    border-bottom-right-radius: 8px;
    border-top-left-radius:8px;
    background-color:rgb(198, 227, 242);
    width: 15%;
    color: rgba(125, 110, 110, 0.943);
    text-align:center;
}
.first-line{
    border-bottom: 1px solid rgba(125, 202, 243, 0.468);
    width: 100%;

}
.row{
    display:flex;
    flex-direction: row;
    text-align: left;
}
.keyboard{
    display:flex;
    height:50%;
    border-radius:3px;
    background-color: white;
    margin: auto;
    margin-top:5px;
    width: 95%;
    background-color: rgb(189, 184, 184);
    margin-bottom:5px;
}

.screen-container {
    margin: auto;
    max-width: 450px;
    height: 350px;
    border-radius:3px;
    background-color: rgb(189, 184, 184);
}

.stack{
    position:relative;
    width:95%;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items: right;
}

.stack-left{
    position:relative;
    width:6%;
    display:flex;
    flex-direction: column;
    align-items: right;
    border: 1px solid black;
    height:350px;
}

.sketch-screen .stack{
    position: relative;
    display:flex;
    width:100%;
    height: 50%;
}
.keyboard-left{
    position: relative;
    padding-right:5px;
    border: 1px solid black;
    background-color: white;
    border-radius:8px;
    width:330px;
    margin-bottom:5px;
}
.keyboard-right{
    position: relative;
    display:flex;
    width: 50px;
    margin-left:5px;
    margin-bottom:5px;
}

.sidePanel{
    background-color:rgb(189, 184, 184);
    height: 20px;
    width: 100%;
    margin-top: 1px;
}
.scroll{
    padding:5px 1.5px 10px 1.5px;
    border-bottom: 1.5px dotted black;
}

.drawing-items{
    padding:3px 1.5px 10px 1.5px;
}

.size{
    padding:3px 1.5px 10px 1.5px;
    border-bottom: 1.5px dotted black;
}
.misc-keyboards{
    padding:3px 1.5px 10px 1.5px;
}

.misc-keyboards button{
    margin-top:5px;
    border-top-left-radius: 3px;
}

button{
    border:0px;
}
.row .stack-left{
    background-color:white;
}
.keyboard-right button{
    background-color:rgb(189, 184, 184);
    height: 33%;
    width: 120%;
    border:1px solid black;
    margin:0;
    background-color: white;
}

.keyboard-right .sendItem{
    border-top-left-radius: 8px;
}
.keyboard-right .eraseScreen{
    border-bottom-left-radius: 8px;
}

.screen-base{
    display:flex;
    margin: auto; 
    width: 95%;
    height:40%;
    border: 1px solid rgb(81, 182, 236);
    border-radius:8px;
    background-color: white;
    margin-top:10px;
    margin-bottom: 0;
    position:relative;
    bottom: 0px; 
    right: 0px; 
}
.screen-base.animate{
    animation: moveToHistory 1s forwards;
}
@keyframes moveToHistory {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.top-stack{
    position:relative;
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: right;

    max-height: 350px;
    padding-bottom: 0;
    margin-bottom: 0;
    align-items:bottom;
}


.main-p{
    padding-left: 10px;
    margin: 5px;
}
.sub-p{
    padding-left: 20px;
    margin: 3px;
}

.info-button{
    margin: 0;
    width:33%;
    padding: 0px 25px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 17px;
}


.screen-stack{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start; 
    align-items: right;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 350px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 95%; /* Adjust as needed */
    position: relative;
}
.screen-stack::-webkit-scrollbar{
    display:none;
}

.row-p{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.screen-info{
    height: 100%;
}
.keyboard-button{
    height: 100%;
    width: 100%;
}

.keys button{
    font-size: 20px;
    height: 30px;
    margin: 0.5 auto;
    border: 1px solid rgb(255, 255, 255);
    float: center;
}

.keyboard-key{
    width:26px;
}
.backspace-key{
    width:50px;
}
.caps-key{
    width:40px;
}
.shift-key{
    width:50px;
}
.enter-key{
    width:60px;
}
.space-key{
    width:120px;
}

.r1{
    margin-left:10px;
}
.r2{
    margin-left:30px;
}
.r3{
    margin-left: 5px;
}
.r4{
    margin-left: 5px;
}
.r5{
    margin-left:50px;
}