*{
    font-family: 'Nintendo DS BIOS';
}

.sketch-screen{
    display:flex;
    height:50%;
    margin: auto;
    width: 95%;
    border: 1px solid rgb(81, 182, 236);
    border-radius:8px;
    background-color: white;
    margin-top:10px;
}

.screen-lines{
    position:relative;
    height: 4px;
    padding: 13px 0px;
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(125, 202, 243, 0.468);
    width: 100%;
}

.screenname{
    margin: 0;
    padding: 4px 15px;
    border-right: 2px solid rgba(125, 202, 243, 0.468);
    border-bottom: 2px solid rgba(125, 202, 243, 0.468);
    border-bottom-right-radius: 8px;
    border-top-left-radius:8px;
    background-color:rgb(198, 227, 242);
    width: 15%;
    color: rgba(125, 110, 110, 0.943);
    text-align:center;
}
.first-line{
    border-bottom: 1px solid rgba(125, 202, 243, 0.468);
    width: 100%;

}
.row{
    display:flex;
    justify-content: space-around;
}
.keyboard{
    display:flex;
    height:50%;
    border-radius:3px;
    background-color: white;
    margin: auto;
    margin-top:5px;
    width: 95%;
    background-color: rgb(189, 184, 184);
}

.screen-container {
    margin: auto;
    max-width: 400px;
    height: 280px;
    border-radius:3px;
    background-color: rgb(189, 184, 184);
}

.stack{
    position:relative;
    width:95%;
    height: 280px;
    display:flex;
    flex-direction: column;
    align-items: right;
}

.stack-left{
    position:relative;
    width:6%;
    display:flex;
    flex-direction: column;
    align-items: right;
    border: 2px solid black;
    height: 280px;
}

.sketch-screen .stack{
    position: relative;
    display:flex;
    width:100%;
    height: 50%;
}
.keyboard-left{
    position: relative;
    display:flex;
    padding-right:250px;
    border: 1px solid black;
    background-color: white;
    border-radius:8px;
}
.keyboard-right{
    position: relative;
    display:flex;
    width:50px;
    margin-left:5px;
}

.sidePanel{
    background-color:rgb(189, 184, 184);
    height: 19px;
    width: 100%;
    margin-top: 1px;
}
.scroll{
    padding:3px 1.5px 5px 1.5px;
    border-bottom: 1.5px dotted black;
}

.drawing-items{
    padding:3px 1.5px 5px 1.5px;
}

.size{
    padding:3px 1.5px 5px 1.5px;
    border-bottom: 1.5px dotted black;
}
.misc-keyboards{
    padding:3px 1.5px 5px 1.5px;
}

.misc-keyboards button{
    margin-top:5px;
    border-top-left-radius: 3px;
}

button{
    border:0px;
}
.row .stack-left{
    background-color:white;
}
.keyboard-right button{
    background-color:rgb(189, 184, 184);
    height: 33%;
    width: 120%;
    border:1px solid black;
    margin:0;
    background-color: white;
}

.keyboard-right .sendItem{
    border-top-left-radius: 8px;
}
.keyboard-right .eraseScreen{
    border-bottom-left-radius: 8px;
}

.screen-base{
    display:flex;
    margin: auto; 
    width: 95%;
    height:40%;
    border: 1px solid rgb(81, 182, 236);
    border-radius:8px;
    background-color: white;
    margin-top:10px;
    margin-bottom: 0;
    position:relative;
    bottom: 0px; 
    right: 0px; 
}
.screen-base.animate{
    animation: moveToHistory 1s forwards;
}
@keyframes moveToHistory {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.top-stack{
    position:relative;
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: right;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 280px;
    padding-bottom: 0;
    margin-bottom: 0;
    align-items:bottom;

}


.main-p{
    padding-left: 10px;
    margin: 5px;
}
.sub-p{
    padding-left: 20px;
    margin: 5px;
}

.info-button{
    margin: 0;
    padding-left:20px;
    padding-right:70px;
    padding: 0px 70px 10px 60px;
    background-color: rgba(255, 255, 255, 0);
}


.screen-stack{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start; /* Aligns content to the bottom */
    align-items: right;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 280px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 95%; /* Adjust as needed */
    position: relative;
}